.tox
.*_cache
.eggs/
*egg-info*

.idea/workspace.xml
.idea/tasks.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/shelf/
.idea/sonarlint*
__pycache__
*.pyc
*.log
*.log.*

test-report

performance-results

*.xba

*.pprofile

*.swp

